.form-control {
	border-color: #e3e3e4;
}

.form-control:focus {
	border-color: #40df6d;
    box-shadow: 0 0 0 0.1rem rgba(40,167,69,.25);
}

.invalid-feedback {
	font-size: 0.5rem;
	line-height: 1.5;
}