.btn-long {
	height: 1.3rem;
	font-size: 0.5rem;
	padding: 0 0.6rem;
}

.btn-grey {
	color: #fff;
	background-color: #3e464f;
}

.btn-ultra-green {
	color: #fff;
    background-color: $ultra-green;
    border-color: #2adb5c;
}

.link--color-grey {
	text-decoration: underline;
	color: #6d7274;
}

.link--color-grey:hover { color: #0475f7; }
.link--color-ultra-green { color: $ultra-green; }
.link--color-ultra-green:hover { color: #126d2c; }