.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.form-control__input--country {
  flex: 1 1 auto !important;
}

.form-control__input--phone {
  flex: 3 1 auto !important;
}

.extended-view {
	height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(35, 39, 52, 0.6), rgba(35, 39, 52, 0.6)), url("http://dijkstra.cs.ttu.ee/~jupono/own/images/bgimage-drivers.jpg") no-repeat center;
	background-size: cover;  
}

.logo--position-top-left {
	height: 50px;
	width: 180px;
	position: absolute;
	top:0;
	left:0;
}

.centered-hor-vert {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
