html {
    font-size: 1rem;
}

body {
    line-height: 1.7;
}
  
@media(min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}

@media(min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}

@media(min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}

.text--size-small { font-size: 0.8rem; }
.text--size-xsmall { font-size: 0.7rem; }
.text--size-tiny { font-size: 0.6rem; }
.text--size-xtiny { font-size: 0.5rem; }

.text--weight-regular { font-weight: $font-regular; }
.text--weight-medium { font-weight: $font-medium; }
.text--weight-semi-bold { font-weight: $font-semi-bold; }
.text--weight-bold { font-weight: $font-bold; }