@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

$raleway: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Colors
$ultra-green: #40df6d;
